* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  background-color: #fceef1;
}
.banner {
  height: 100vh;
  width: 90%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tagline {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  color: #272727;
}

.banner-element {
  width: 50%;
}
.header-decription {
  font-family: "Inter", sans-serif;
  color: #7c7778;
  margin: 20px 0px 20px 0px;
  font-size: 13px;
}

.btn {
  padding: 10px 20px;
  color: white;
  background-color: #e55473;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: #e55473;
  cursor: pointer;
  font-weight: bold;
}

.welcome-flower {
  height: 100vh;
  display: flex;
  margin-top: 80px;
  /* align-items: flex-end; */
  /* align-items: center; */
}
.first-img {
  height: 93.5%;
  margin-left: 100px;
}

.category-section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  /* margin: auto; */
  /* align-items: center; */
}

.category-container {
  display: block;
  width: 90%;

  /* align-items: center; */
}

.cat-header {
  /* padding-top: 20px; */
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  /* margin: auto; */
  margin-top: 70px;
  /* border: 1px solid red; */
  width: 100%;
}

#featured-header {
  color: #272727;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.featured-decription {
  font-size: 12px;
  font-weight: lighter;
  color: #7d7d7d;
  margin-top: 20px;
}

/* .flowers {
  display: flex;
  width: 100%;
  height: 50px;
  color: red;
  background-color: blueviolet;
}
.flower-card1,
.flower-card2,
.flower-card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #e55473;
} */
.flowers {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.box {
  width: 350px;
  height: 400px;

  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}
.flower-card1 {
  background-color: #f2dee7;
  background-image: url(../assets/images/pngwing\ 6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: bottom;
}
.flower-card2 {
  background-color: #d9eff1;
  background-image: url(../assets/images/pngwing\ 5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: bottom;
}
.flower-card3 {
  background-color: #e3ebdb;
  background-image: url(../assets/images/pngwing\ 7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: bottom;
}

.flowers-caption {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  text-decoration: underline;
  color: #454545;
  font-family: "Inter", sans-serif;
}

.hot-deal {
  height: 75vh;
  background-color: #fef6f8;
  display: flex;
  justify-content: space-around;
}
.het-deal-section {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.het-deal-header {
  width: 50%;
  margin: auto;
  text-align: center;
}
.hot-deal-container {
  width: 50%;
  height: auto;
}

#hot-deal-header {
  font-family: "Inter", sans-serif;
  color: #7c7778;
}
.hot-deal-box {
  width: 250px;
  margin-left: 100px;
}
.insta {
  height: 70vh;
  /* border: 1px solid red; */
}
.insta-parent {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  /* border: 1px solid blue; */
  padding-top: 35px;
}

.insta-img {
  width: 250px;
}

.get-deals {
  height: 40vh;
  width: 80%;
  /* border: 1px solid blue; */
  margin: auto;
  margin-bottom: 250px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.get-deals-cover {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  /* height: 80%; */
  background-image: url(../assets/images/Rectangle\ 9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  text-align: center;
  padding-top: 150px;
}

#email-reciever {
  font-family: "Inter", sans-serif;
  color: #7c7778;
  border: none;
  width: 500px;
  height: 35px;
  border-radius: 5px;
}
#contact-container {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  overflow: auto;
  margin-bottom: 50px;
}

#info {
  position: relative;
  top: 0;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
.about-text {
  width: 45%;
  margin: 0;
  padding: 0 30px;
  display: inline-block;
  text-align: justify;
  color: #272727;
  border-right: 1px solid #e55473;
}

.about-text > h1 {
  text-align: center;
  font-size: 40px;
  /* tab-size: 40px */
  margin: 0;
  padding: 15px 0 10px;
}

.about-text > p {
  font-weight: lighter;
}

.info-list {
  margin: 0;
  padding: 0 0 30px 0;
  /* overflow: auto; */
  display: block;
}
h6.info-title {
  width: 18%;
  font-weight: lighter;
  text-transform: uppercase;
  border-bottom: 1px solid #e55473;
}
.info-list > li {
  /* float: left; */
  margin-bottom: 10px;
  padding: 0;
}

.contact-form {
  width: 45%;
  margin: 0 0 0 25px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

form {
  /* overflow: auto; */
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

label {
  float: left;
  clear: left;
  margin: 0;
  padding: 2px 0;
}

input,
textarea {
  width: 98%;
  border-radius: 5px;
  padding: 5px;
}
.submit-btn {
  margin-top: 10px;
  width: 100%;
}

.footer-container {
  height: 40vh;
  background-color: #111010;
  color: white;
  padding-top: 150px;
  text-align: center;
}
#copy-right {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color: #707070;
  margin-top: 20px;
}
